{
  "Create Graph": {
    "prefix": [
      "graph",
      "new-graph",
      "newgraph"
    ],
    "body": [
      "const graph = new Graph({",
      "container: ${1:containerRef},",
      "width: ${3:800},",
      "height: ${4:600},",
      "grid: ${2:true}",
      "})"
    ],
    "description": "antv graph object"
  }
}
